{% extends "pages/base.html" %}

{% load static %}

{% block contenido %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4">
        <a type="button" class="btn btn-info" style="float: right" href="{% url 'proyectos:crear_torre' %}">Agregar</a>
        <span class="text-muted fw-light">Torres /</span> Listado Torres</h4>

    <!-- Bootstrap Table with Header - Light -->
    <div class="card">
        <h5 class="card-header fw-light">Torres</h5>
        <div class="table-responsive text-nowrap">
            {% if torres %}
            <table class="table">
                <thead class="table-light">
                <tr>
                    <th>ID Torre</th>
                    <th>N° Torre</th>
                    <th>Etapa</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                {% for torre in torres %}
                <tr>
                    <td>
                        <i class="mdi mdi-wallet-travel mdi-20px text-danger me-3"></i
                        ><span class="fw-medium">{{torre.id_torre}}</span>
                    </td>

                    <td>{{torre.nombre_torre}}</td>
                    <td>{{torre.id_etapa_condominio}}</td>
                    <td><span class="badge rounded-pill bg-label-primary me-1">{{torre.estado_torre}}</span></td>

                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                <i class="mdi mdi-dots-vertical"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'proyectos:editar_torre' torre.id_torre %}"
                                ><i class="mdi mdi-pencil-outline me-1"></i> Editar</a
                                >
                                <a class="dropdown-item" href="#"
                                ><i class="mdi mdi-trash-can-outline me-1"></i> Eliminar</a
                                >
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <table class="table" style="min-height:200px">
                <thead class="table-light">
                <tr>
                    <th>ID Torre</th>
                    <th>N° Torre</th>
                    <th>Etapa</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                <tr>
                    <td colspan='5' align='center' ><span class="border-info me-1"><i class="mdi mdi-information-outline"></i> Lista se encuentra vacía</span></td>
                </tr>
                </tbody>
            </table>
            {% endif%}
        </div>
    </div>
    <!-- Bootstrap Table with Header - Light -->
</div>
{% endblock contenido %}