{% extends "pages/base.html" %}

{% load static %}

{% block contenido %}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row flex-xl-nowrap">
      <div class="DocSearch-content col-12 container-p-y">
        <h2 class="mb-6 doc-page-title">¡Bienvenido al Sistema de Operaciones! 🚀</h2>
        <p class="lead">Plataforma integral diseñada para gestionar tanto las actividades como los procesos relacionados con la venta y administración de propiedades.</p>
        <hr class="my-12" style="margin-top: 3rem;margin-bottom: 3rem">
        <div class="row">
          <div class="col-md-4 mb-6">
            <div class="card">
              <div class="card-body">
                <div class="badge bg-label-danger p-3 rounded mb-4">
                  <i class="mdi mdi-view-dashboard-outline mdi-24px"></i>
                </div>
                <h4>Dashboard</h4>
                <p>Explora nuestros dashboards: visualiza datos clave, toma decisiones informadas y supervisa el rendimiento en tiempo real.
                </p>
                <p class="fw-bold mb-0"><a class="stretched-link" href="dashboard.html">Ir ahora <i class="mdi mdi-chevron-right"></i></a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-6">
            <div class="card">
              <div class="card-body">
                <div class="badge bg-label-warning p-3 rounded mb-4">
                  <i class="mdi mdi-layers-triple-outline  mdi-24px"></i>
                </div>
                <h4>Operacion / Etapas</h4>
                <p>Explora nuestro espacio de diseño de ciclos de ventas: configura y controla tus fases de ventas con facilidad.</p>
                <p class="fw-bold mb-0"><a class="stretched-link" href="listar_operaciones.html">Ir ahora <i class="mdi mdi-chevron-right"></i></a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-6">
            <div class="card">
              <div class="card-body">
                <div class="badge bg-label-success p-3 rounded mb-4">
                  <i class="mdi mdi-bell-outline mdi-24px"></i>
                </div>
                <h4>Notificaciones</h4>
                <p>Mantente al tanto de las actualizaciones importantes, mensajes urgentes y eventos relevantes con nuestro sistema de notificaciones</p>
                <p class="fw-bold mb-0"><a class="stretched-link" href="notificaciones.html">Ir ahora <i class="mdi mdi-chevron-right"></i></a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-6">
            <div class="card">
              <div class="card-body">
                <div class="badge bg-label-danger p-3 rounded mb-4">
                  <i class="mdi mdi-account-outline mdi-24px"></i>
                </div>
                <h4>Ingresar Cliente</h4>
                <p>Sección para añadir clientes nuevos: agiliza el proceso de incorporación con una interfaz intuitiva y eficiente.</p>
                <p class="fw-bold mb-0"><a class="stretched-link" href="ventas/crear_cliente/">Ir ahora <i class="mdi mdi-chevron-right"></i></a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-6">
            <div class="card">
              <div class="card-body">
                <div class="badge bg-label-warning p-3 rounded mb-4">
                  <i class="mdi mdi-domain mdi-24px"></i>
                </div>
                <h4>Ingresar Condominio</h4>
                <p>Explora nuestra sección dedicada al ingreso de condominios: gestiona propiedades y residentes de manera fácil con nuestra plataforma.</p>
                <p class="fw-bold mb-0"><a class="stretched-link" href="proyectos/crear_condominio/">Ir ahora <i class="mdi mdi-chevron-right"></i></a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-6">
            <div class="card">
              <div class="card-body">
                <div class="badge bg-label-success p-3 rounded mb-4">
                  <i class="mdi mdi-headset mdi-24px"></i>
                </div>
                <h4>Soporte</h4>
                <p>Navega nuestra sección de soporte: accede a documentación de procesos para resolver dudas y optimizar tu experiencia con nuestra plataforma.</p>
                <p class="fw-bold mb-0"><a class="stretched-link" href="template-customizer.html">Ir ahora <i class="mdi mdi-chevron-right"></i></a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
</div>

{% endblock contenido %}

