{% extends "pages/base.html" %}

{% load static %}

{% block contenido %}

<style>
    .autocomplete {
        /*the container must be positioned relative:*/
        position: relative;
        display: inline-block;
    }
    .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    }
    .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    }
    .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
    }
    .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
    }
</style>

<div class="container-xxl flex-grow-1 container-p-y">

    <h4 class="py-3 mb-4 fw-bold"><span class="text-muted fw-light">Agregar /</span>
        Etapa
    </h4>

    <!-- Basic Layout -->
    <div class="row">
        <div class="col-xl">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0 fw-normal">Etapa</h5>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% if error %}
                      <h2>{{ error }}</h2>
                      {% else %}
                        <div class="row gx-5">
                            <div class="col-md">
                                <div class="d-flex form-floating form-floating-outline mb-4">
                                    <select name="id_condominio" class="form-select" placeholder="Torre" required="" id="id_id_condominio">
                                        <option value="" selected="">---------</option>
                                        {% for condominio in condominios %}
                                            <option value="{{ condominio.0 }}">{{ condominio.1 }}</option>
                                        {% endfor %}
                                      </select>
                                      <label for="basic-default-fullname">Condominio</label>
                                    <a class="btn btn-info" style="margin-left:10px" target="_blank" href="{% url 'proyectos:crear_torre' %}">+</a>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating form-floating-outline mb-4">
                                    {{form.nombre_etapa}}
                                    <label for="basic-default-fullname">Nombre Etapa</label>
                                </div>
                            </div>
                        </div>
                        <div align="left">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                            <a style="margin-left:10px" href="{% url 'proyectos:listar_etapa' %}" class="btn btn-dark">Cancelar</a>
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('id_id_condominio').addEventListener('change', function() {
        var condominioId = this.value;
        var etapaSelect = document.getElementById('id_id_etapa_condominio');
        etapaSelect.innerHTML = "<option value=''>---------</option>";
        if (condominioId !== '') {
            document.getElementById('id_id_etapa_condominio').disabled = false;
            fetch(`{% url 'proyectos:get_etapas' %}?condominio_id=${condominioId}`)
                .then(response => response.json())
                .then(data => {
                data.forEach(etapa => {
                    var option = document.createElement('option');
                    option.text = etapa.nombre_etapa;
                    option.value = etapa.id_etapa_condominio;
                    etapaSelect.add(option);
                });
            });
        } else {
            document.getElementById('id_id_etapa_condominio').disabled = true;
        }
    });
</script>

{% endblock contenido %}