{% extends "pages/base.html" %}

{% load static %}

{% block contenido %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4 fw-bold"><span class="text-muted fw-light">Vivienda /</span>
        Agregar
    </h4>
    <!-- Basic Layout -->
    <div class="row">
        <div class="col-xl">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h3 class="mb-0 fw-normal">Vivienda</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% if error %}
                        <h2>{{ error }}</h2>
                        {% else %}
                            <div class="row gx-5">
                                <div class="col-md">
                                    <div class="form-floating form-floating-outline mb-4">
                                        {{form.nombre_vivienda}}
                                        <label for="basic-default-fullname">N° Vivienda</label>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="d-flex form-floating form-floating-outline mb-4">
                                        {{form.id_torre}}
                                        <label for="basic-default-fullname">N° Torre</label>
                                        <a class="btn btn-info" style="margin-left:10px" target="_blank" href="{% url 'proyectos:crear_torre' %}">+</a>                    
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="d-flex form-floating form-floating-outline mb-4">
                                        {{form.id_modelo}}
                                        <label for="basic-default-fullname">Modelo</label>
                                        <a class="btn btn-info" style="margin-left:10px" target="_blank" href="{% url 'proyectos:crear_modelo' %}">+</a>                    
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating form-floating-outline mb-4">
                                        {{form.tipo_vivienda}}
                                        <label for="basic-default-fullname">Tipo</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row gx-5">
                                <div class="col-md">
                                    <div class="form-floating form-floating-outline mb-4">
                                        {{form.rol_vivienda}}
                                        <label for="basic-default-fullname">Rol</label>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating form-floating-outline mb-4">
                                        {{form.ori_vivienda}}
                                        <label for="basic-default-fullname">Orientación</label>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating form-floating-outline mb-4">
                                        {{form.piso}}
                                        <label for="basic-default-fullname">Piso</label>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating form-floating-outline mb-4">
                                        {{form.valor_vivienda}}
                                        <label for="basic-default-fullname">Valor en UF</label>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating form-floating-outline mb-4">
                                        {{form.metros_vivienda}}
                                        <label for="basic-default-fullname">Metros Cuadrados</label>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating form-floating-outline mb-4">
                                        {{form.metros_terraza_vivienda}}
                                        <label for="basic-default-fullname">Tamaño Terraza</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row gx-5">                              
                                <div class="col-md">
                                    <div class="form-floating form-floating-outline mb-4">
                                        {{form.metros_total_vivienda}}
                                        <label for="basic-default-fullname">Metros totales</label>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating form-floating-outline mb-4">
                                        {{form.bono_vivienda}}
                                        <label for="basic-default-fullname">Bono</label>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating form-floating-outline mb-4">
                                        {{form.prorrateo_vivienda}}
                                        <label for="basic-default-fullname">Prorrateo</label>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating form-floating-outline mb-4">
                                        {{form.metros_terraza_vivienda}}
                                        <label for="basic-default-fullname">Tamaño Terraza</label>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating form-floating-outline mb-4">
                                        {{form.estado_vivienda}}
                                        <label for="basic-default-fullname">Estado</label>
                                    </div>
                                </div>
                            </div>              
                            <div align="left">          
                                <button type="submit" class="btn btn-primary">Guardar</button>
                                <a style="margin-left:10px"  href="{% url 'proyectos:listar_vivienda' %}" class="btn btn-dark">Cancelar</a>
                            </div>   
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}