{% extends "pages/base.html" %}

{% load static %}

{% block contenido %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4">
        {% comment %} <a type="button" class="btn btn-info" style="float: right"
           href="#}">Agregar</a> {% endcomment %}
        <span class="text-muted fw-light">Reservas /</span> Listado Reservas</h4>

    <div class="card">
        <div id="example" class="dt-container" style="margin: 20px;">
            <div class="dt-layout-row dt-layout-table">
                <div class="dt-layout-cell table-responsive text-nowrap">
                    <table id="example-table-bd" class="display  nowrap dataTable dtr-inline collapsed" style="width: 100%;" aria-describedby="example_info">
                        <thead>
                        <tr>
                            <th data-dt-column="0" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="ID: Click para ordenar" tabindex="0">
                                <span class="dt-column-title" role="button">Proyecto</span>
                                <span class="dt-column-order"></span>
                            </th>
                            <th data-dt-column="1" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="Nombre: Click para ordenar" tabindex="0">
                                <span class="dt-column-title" role="button">N° Reserva</span>
                                <span class="dt-column-order"></span>
                            </th>
                            <th data-dt-column="2" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="Nombre: Click para ordenar" tabindex="0">
                                <span class="dt-column-title" role="button">Fecha</span>
                                <span class="dt-column-order"></span>
                            </th>
                            <th data-dt-column="4" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="ID: Click para ordenar" tabindex="0">
                                <span class="dt-column-title" role="button">RUT-DNI</span>
                                <span class="dt-column-order"></span>
                            </th>
                            <th data-dt-column="5" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="ID: Click para ordenar" tabindex="0">
                                <span class="dt-column-title" role="button">Cliente</span>
                                <span class="dt-column-order"></span>
                            </th>
                            <th data-dt-column="6" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="ID: Click para ordenar" tabindex="0">
                                <span class="dt-column-title" role="button">Es Modificada</span>
                                <span class="dt-column-order"></span>
                            </th>
                            <th data-dt-column="7" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="ID: Click para ordenar" tabindex="0">
                                <span class="dt-column-title" role="button">N° Reserva Origen</span>
                                <span class="dt-column-order"></span>
                            </th>
                            <th data-dt-column="8" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="Nombre: Click para ordenar" tabindex="0">
                                <span class="dt-column-title" role="button">Estado</span>
                                <span class="dt-column-order"></span>
                            </th>
                            <th data-dt-column="9" class="dt-body-right dt-right dt-orderable-asc dt-orderable-desc" rowspan="1" colspan="1" tabindex="0">
                                <span class="dt-column-title" role="button">Acciones</span>
                                <span class="dt-column-order"></span>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                        {% for reserva in reservas %}
                        <tr>
                            <td>{{ reserva.proyecto }}</td>
                            <td>{{ reserva.id_reserva }}</td>
                            <td>{{ reserva.fecha_creación }}</td>
                            <td>RUT-DNI</td>
                            <td>{{ reserva.cliente }}</td>
                            <td>{{ reserva.estado_reserva}}</td>
                            <td>Modificada</td>
                            <td>Reserva Origen</td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="mdi mdi-dots-vertical"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{% url 'ventas:detalle_reserva' id_reserva=reserva.id_reserva %}">
                                            <i class="mdi mdi-pencil-outline me-1"></i>Ver Detalle
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <i class="mdi mdi-trash-can-outline me-1"></i> Editar
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <i class="mdi mdi-pencil-outline me-1"></i> Pasar a promesa
                                        </a>
                                        <a class="dropdown-item" href="{% url 'ventas:anular_reserva' id_reserva=reserva.id_reserva %}">
                                            <i class="mdi mdi-trash-can-outline me-1"></i> Anular reserva
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/custom.js' %}"></script>

{% endblock contenido %}