{% extends "pages/base.html" %}

{% load static %}

{% block contenido %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4">
        <a type="button" class="btn btn-info" style="float: right"
           href="{% url 'ventas:crear_cliente' %}">Agregar</a>
        <span class="text-muted fw-light">Clientes /</span> Listado Clientes</h4>

    <!-- Bootstrap Table with Header - Light -->
    <div class="card">
        <div id="example" class="dt-container" style="margin: 20px;">
            <div class="dt-layout-row dt-layout-table">
                <div class="dt-layout-cell table-responsive text-nowrap">
                    <table id="example-table-bd" class="display  nowrap dataTable dtr-inline collapsed" style="width: 100%;" aria-describedby="example_info">
                        <thead>
                        <tr>
                            <th data-dt-column="0" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="ID: Click para ordenar" tabindex="0">
                                <span class="dt-column-title" role="button">Rut</span>
                                <span class="dt-column-order"></span>
                            </th>
                            <th data-dt-column="1" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="Nombre: Click para ordenar" tabindex="0">
                                <span class="dt-column-title" role="button">Nombre Completo</span>
                                <span class="dt-column-order"></span>
                            </th>
                            <th data-dt-column="2" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="Nombre: Click para ordenar" tabindex="0">
                                <span class="dt-column-title" role="button">Nacionalidad</span>
                                <span class="dt-column-order"></span>
                            </th>
                            <th data-dt-column="3" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="Nombre: Click para ordenar" tabindex="0">
                                <span class="dt-column-title" role="button">Región</span>
                                <span class="dt-column-order"></span>
                            </th>
                            <th data-dt-column="4" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="ID: Click para ordenar" tabindex="0">
                                <span class="dt-column-title" role="button">Género</span>
                                <span class="dt-column-order"></span>
                            </th>
                            <th data-dt-column="5" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="ID: Click para ordenar" tabindex="0">
                                <span class="dt-column-title" role="button">Estado Civil</span>
                                <span class="dt-column-order"></span>
                            </th>
                            <th data-dt-column="6" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="ID: Click para ordenar" tabindex="0">
                                <span class="dt-column-title" role="button">Profesión</span>
                                <span class="dt-column-order"></span>
                            </th>
                            <th data-dt-column="7" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="ID: Click para ordenar" tabindex="0">
                                <span class="dt-column-title" role="button">Pasaporte Cliente</span>
                                <span class="dt-column-order"></span>
                            </th>
                            <th data-dt-column="8" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="Nombre: Click para ordenar" tabindex="0">
                                <span class="dt-column-title" role="button">Fono</span>
                                <span class="dt-column-order"></span>
                            </th>
                            <th data-dt-column="9" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="ID: Click para ordenar" tabindex="0">
                                <span class="dt-column-title" role="button">Correo</span>
                                <span class="dt-column-order"></span>
                            </th>
                            <th data-dt-column="10" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="ID: Click para ordenar" tabindex="0">
                                <span class="dt-column-title" role="button">Dirección</span>
                                <span class="dt-column-order"></span>
                            </th>
                            <th data-dt-column="11" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="ID: Click para ordenar" tabindex="0">
                                <span class="dt-column-title" role="button">Dirección Trabajo</span>
                                <span class="dt-column-order"></span>
                            </th>
                            <th data-dt-column="12" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="ID: Click para ordenar" tabindex="0">
                                <span class="dt-column-title" role="button">Fecha Nacimiento</span>
                                <span class="dt-column-order"></span>
                            </th>
                            <th data-dt-column="13" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="Nombre: Click para ordenar" tabindex="0">
                                <span class="dt-column-title" role="button">Estado</span>
                                <span class="dt-column-order"></span>
                            </th>
                            <th data-dt-column="14" class="dt-body-right dt-right dt-orderable-asc dt-orderable-desc" rowspan="1" colspan="1" tabindex="0">
                                <span class="dt-column-title" role="button">Acciones</span>
                                <span class="dt-column-order"></span>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                        {% for cliente in clientes%}
                        <tr>
                            <td>
                                <span class="fw-medium">{{cliente.id_cliente}}</span>
                            </td>
                            <td>{{ cliente.nombreCompleto }}</td>
                            <td>{{ cliente.id_nacionalidad }}</td>
                            <td>{{ cliente.region }}</td>
                            <td>{{ cliente.genero }}</td>
                            <td>{{ cliente.estado_civil }}</td>
                            <td>{{ cliente.id_profesion.nombre_profesion }}</td>
                            <td>{{ cliente.pasaporte_cliente }}</td>                      
                            <td>{{ cliente.fono_cliente }}</td>
                            <td>{{ cliente.correo_cliente }}</td>
                            <td>{{ cliente.direccion_cliente }}</td>
                            <td>{{ cliente.direccion_trabajo_cliente }}</td>
                            <td>{{ cliente.fecha_nacimiento_cliente }}</td>
                            <td><span class="badge rounded-pill bg-label-primary me-1">{{cliente.estado_cliente}}</span></td>
                            <td>
                                <div class="d-flex justify-content-evenly">
                                    <a href="{% url 'ventas:editar_cliente' cliente.id_cliente %}">
                                        <button type="button" class="btn btn-icon btn-sm btn-outline-warning">                                          
                                            <span class="mdi mdi-pencil-outline"></span>               
                                        </button>
                                    </a>
                                    <a href="#">
                                        <button type="button" class="btn btn-icon btn-sm btn-outline-danger">
                                            <span class="mdi mdi-trash-can-outline"></span>
                                        </button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/custom.js' %}"></script>

{% endblock contenido %}