{% extends "pages/base.html" %}

{% load static %}

{% block contenido %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4">
        <a type="button" class="btn btn-info" style="float: right"
           href="{% url 'ventas:crear_venta' %}">Agregar</a>
        <span class="text-muted fw-light">Ventas /</span> Listado Ventas</h4>

    <div class="card">
        <div id="example" class="dt-container" style="margin: 20px;">
            <div class="dt-layout-row dt-layout-table">
                <div class="dt-layout-cell table-responsive text-nowrap">
                    <table id="example-table-bd" class="display  nowrap dataTable dtr-inline collapsed" style="width: 100%;" aria-describedby="example_info">
                        <thead class="table-light">
                        <tr>
                            <th data-dt-column="0" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="ID: Click para ordenar" tabindex="0">
                                <span class="dt-column-title" role="button">ID</span>
                                <span class="dt-column-order"></span>
                            </th>
                            <th data-dt-column="1" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="Nombre: Click para ordenar" tabindex="0">
                                <span class="dt-column-title" role="button">N° Depto</span>
                                <span class="dt-column-order"></span>
                            </th>
                            <th data-dt-column="2" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="Nombre: Click para ordenar" tabindex="0">
                                <span class="dt-column-title" role="button">Torre</span>
                                <span class="dt-column-order"></span>
                            </th>
                            <th data-dt-column="4" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="ID: Click para ordenar" tabindex="0">
                                <span class="dt-column-title" role="button">Etapa</span>
                                <span class="dt-column-order"></span>
                            </th>
                            <th data-dt-column="5" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="ID: Click para ordenar" tabindex="0">
                                <span class="dt-column-title" role="button">Condominio</span>
                                <span class="dt-column-order"></span>
                            </th>
                            <th data-dt-column="6" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="ID: Click para ordenar" tabindex="0">
                                <span class="dt-column-title" role="button">Cliente</span>
                                <span class="dt-column-order"></span>
                            </th>
                            <th data-dt-column="7" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="ID: Click para ordenar" tabindex="0">
                                <span class="dt-column-title" role="button">Rut</span>
                                <span class="dt-column-order"></span>
                            </th>
                            <th data-dt-column="8" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="Nombre: Click para ordenar" tabindex="0">
                                <span class="dt-column-title" role="button">Correo</span>
                                <span class="dt-column-order"></span>
                            </th>
                            <th data-dt-column="5" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="ID: Click para ordenar" tabindex="0">
                                <span class="dt-column-title" role="button">Teléfono</span>
                                <span class="dt-column-order"></span>
                            </th>
                            <th data-dt-column="6" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="ID: Click para ordenar" tabindex="0">
                                <span class="dt-column-title" role="button">Vendedor</span>
                                <span class="dt-column-order"></span>
                            </th>
                            <th data-dt-column="7" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="ID: Click para ordenar" tabindex="0">
                                <span class="dt-column-title" role="button">Fecha</span>
                                <span class="dt-column-order"></span>
                            </th>
                            <th data-dt-column="8" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="Nombre: Click para ordenar" tabindex="0">
                                <span class="dt-column-title" role="button">Total</span>
                                <span class="dt-column-order"></span>
                            </th>
                            <th data-dt-column="8" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="Nombre: Click para ordenar" tabindex="0">
                                <span class="dt-column-title" role="button">Estado</span>
                                <span class="dt-column-order"></span>
                            </th>
                            <th data-dt-column="9" class="dt-body-right dt-right dt-orderable-asc dt-orderable-desc" rowspan="1" colspan="1" tabindex="0">
                                <span class="dt-column-title" role="button">Acciones</span>
                                <span class="dt-column-order"></span>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                        {% for venta in ventas%}
                        <tr>
                            <td>{{ venta.id_venta }}</td>
                            <td>{{ venta.id_cotizacion.id_vivienda.nombre_vivienda }}</td>
                            <td>{{ venta.id_cotizacion.id_vivienda.id_torre.nombre_torre }}</td>
                            <td>{{ venta.id_cotizacion.id_vivienda.id_torre.id_etapa_condominio.nombre_etapa }}</td>
                            <td>{{ venta.id_cotizacion.id_vivienda.id_torre.id_etapa_condominio.id_condominio.nombre_condominio }}</td>
                            <td>{{ venta.id_cotizacion.id_cliente.nombreCompleto }}</td>
                            <td>{{ venta.id_cotizacion.id_cliente.id_cliente}}</td>
                            <td>{{ venta.id_cotizacion.id_cliente.correo_cliente}}</td>
                            <td>{{ venta.id_cotizacion.id_cliente.fono_cliente}}</td>
                            <td>{{ venta.id_cotizacion.id_vendedor }}</td>
                            <td>{{ venta.fecha_ven|date:'d-M-Y'}}</td>
                            <td>{{ venta.monto_ven }}</td>
                            <td><span class="badge rounded-pill bg-label-primary me-1">{{venta.estado_ven}}</span>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="mdi mdi-dots-vertical"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{% url 'ventas:detalle_venta' id_venta=venta.id_venta %}">
                                            <i class="mdi mdi-pencil-outline me-1"></i>Detalle
                                        </a>
                                        <a class="dropdown-item" href="{% url 'ventas:editar_venta' venta.id_venta %}">
                                            <i class="mdi mdi-trash-can-outline me-1"></i> Editar
                                        </a>
                                        <a class="dropdown-item" href="{% url 'ventas:crear_pago' id_venta=venta.id_venta %}">
                                            <i class="mdi mdi-pencil-outline me-1"></i> Registrar pago
                                        </a>
                                        <a class="dropdown-item" href="{% url 'ventas:detalle_pagos' id_venta=venta.id_venta %}">
                                            <i class="mdi mdi-trash-can-outline me-1"></i> Listado detalle
                                        </a>
                                        <a class="dropdown-item" href="{% url 'ventas:informe_pagos' id_venta=venta.id_venta %}">
                                            <i class="mdi mdi-pencil-outline me-1"></i> Informe de pagos
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <i class="mdi mdi-trash-can-outline me-1"></i> C. Cierre Negocios
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <i class="mdi mdi-pencil-outline me-1"></i> Entrega documentos
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <i class="mdi mdi-trash-can-outline me-1"></i> Despacho promesa
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <i class="mdi mdi-pencil-outline me-1"></i> Carta oferta
                                        </a>
                                        <a class="dropdown-item" href="javascript:void(0);">
                                            <i class="mdi mdi-trash-can-outline me-1"></i> FPM
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <i class="mdi mdi-pencil-outline me-1"></i> Desistir
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>      
    </div>
</div>

<script src="{% static 'js/custom.js' %}"></script>

{% endblock contenido %}