{% extends "pages/base.html" %}

{% load static %}

{% block contenido %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4">
        <a type="button" class="btn btn-info" style="float: right"
           href="{% url 'ventas:crear_venta' %}">Agregar</a>
        <span class="text-muted fw-light">Ventas /</span> Listado Ventas</h4>

    <div class="card">
        <h5 class="card-header fw-light">Ventas</h5>
        <div class="table-responsive text-nowrap">
            {% if ventas %}
            <table class="table">
                <thead class="table-light">
                <tr>
                    <th>Id</th>
                    <th>Condominio</th>
                    <th>Torre</th>
                    <th>Depto</th>
                    <th>Cliente</th>
                    <th>Rut</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th>Vendedor</th>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                {% for venta in ventas%}
                <tr>
                    <td>{{venta.id_venta}}</td>
                    <td>{{ venta.id_cotizacion.id_vivienda.id_torre.id_etapa_condominio.id_condominio.nombre_condominio }}</td>
                    <td>{{ venta.id_cotizacion.id_vivienda.id_torre.nombre_torre }}</td>
                    <td>{{ venta.id_cotizacion.id_vivienda.nombre_vivienda }}</td>
                    <td>{{ venta.id_cotizacion.id_cliente.nombre_cliente }} {{ venta.id_cotizacion.id_cliente.apellido_paterno_cliente }}</td>
                    <td>{{ venta.id_cotizacion.id_cliente.id_cliente}}</td>
                    <td>{{ venta.id_cotizacion.id_cliente.correo_cliente}}</td>
                    <td>{{ venta.id_cotizacion.id_cliente.fono_cliente}}</td>
                    <td>{{ venta.id_cotizacion.id_cliente.nombre_cliente }} {{ venta.id_cotizacion.id_cliente.apellido_paterno_cliente }}</td>
                     <td>{{ venta.fecha_ven|date:'d-M-Y'}}</td>
                    <td>{{ venta.monto_ven }}</td>
                    <td><span class="badge rounded-pill bg-label-primary me-1">{{venta.estado_ven}}</span>
                    </td>

                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                <i class="mdi mdi-dots-vertical"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'ventas:detalle_venta' id_venta=venta.id_venta %}">
                                    <i class="mdi mdi-pencil-outline me-1"></i>Detalle
                                </a>
                                <a class="dropdown-item" href="{% url 'ventas:editar_venta' venta.id_venta %}">
                                    <i class="mdi mdi-trash-can-outline me-1"></i> Editar
                                </a>
                                <a class="dropdown-item" href="{% url 'ventas:crear_pago' id_venta=venta.id_venta %}">
                                    <i class="mdi mdi-pencil-outline me-1"></i> Registrar pago
                                </a>
                                <a class="dropdown-item" href="{% url 'ventas:detalle_pagos' id_venta=venta.id_venta %}">
                                    <i class="mdi mdi-trash-can-outline me-1"></i> Listado detalle
                                </a>
                                <a class="dropdown-item" href="{% url 'ventas:informe_pagos' id_venta=venta.id_venta %}">
                                    <i class="mdi mdi-pencil-outline me-1"></i> Informe de pagos
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="mdi mdi-trash-can-outline me-1"></i> C. Cierre Negocios
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="mdi mdi-pencil-outline me-1"></i> Entrega documentos
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="mdi mdi-trash-can-outline me-1"></i> Despacho promesa
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="mdi mdi-pencil-outline me-1"></i> Carta oferta
                                </a>
                                <a class="dropdown-item" href="javascript:void(0);">
                                    <i class="mdi mdi-trash-can-outline me-1"></i> FPM
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="mdi mdi-pencil-outline me-1"></i> Desistir
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <table class="table" style="min-height:200px">
                <thead class="table-light">
                <tr>
                    <th>Id</th>
                    <th>Condominio</th>
                    <th>Torre</th>
                    <th>Depto</th>
                    <th>Cliente</th>
                    <th>Rut</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th>Vendedor</th>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                <tr>
                    <td colspan='4' align='center'><span class="border-info me-1"><i
                            class="mdi mdi-information-outline"></i> Lista se encuentra vacía</span></td>
                </tr>
                </tbody>
            </table>
            {% endif%}
        </div>
    </div>
</div>
{% endblock contenido %}