{% extends "pages/base.html" %}

{% load static %}

{% block contenido %}
<div class="container-xxl flex-grow-1 container-p-y">

    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Crear/</span> Parámetros</h4>

    <!-- Basic Layout -->
    <div class="row">
        <div class="col-xl">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Ingreso de datos</h5>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% if error %}
                      <h2>{{ error }}</h2>
                      {% else %}

                        <div class="form-floating form-floating-outline mb-4">
                            {{form.id_condominio}}
                            <label for="basic-default-fullname">Condominio</label>
                        </div>
                        <div class="form-floating form-floating-outline mb-4">
                            {{form.factor_vendedor}}
                            <label for="basic-default-fullname">Factor</label>
                        </div>
                        <div class="form-floating form-floating-outline mb-4">
                            {{form.precio_dcto_depto}}
                            <label for="basic-default-fullname">Precio descuento Depto</label>
                        </div>
                        <div class="form-floating form-floating-outline mb-4">
                            {{form.bono_precio_porce}}
                            <label for="basic-default-fullname">Porcentaje Bono Precio</label>
                        </div>
                        <div class="form-floating form-floating-outline mb-4">
                            {{form.porcen_promesa}}
                            <label for="basic-default-fullname">Porcentaje Promesa</label>
                        </div>
                        <div class="form-floating form-floating-outline mb-4">
                            {{form.porcen_escritura}}
                            <label for="basic-default-fullname">Porcentaje Escritura</label>
                        </div>
                        <div class="form-floating form-floating-outline mb-4">
                            {{form.porcen_comision_vendedor}}
                            <label for="basic-default-fullname">% comisión Vendedor</label>
                        </div>
                        <div class="form-floating form-floating-outline mb-4">
                            {{form.monto_escrt_operaciones}}
                            <label for="basic-default-fullname">Monto Escritura Operaciones (UF)</label>
                        </div>
                        <div class="form-floating form-floating-outline mb-4">
                            {{form.monto_reserva}}
                            <label for="basic-default-fullname">Monto Reserva (UF)</label>
                        </div>
                        <div class="form-floating form-floating-outline mb-4">
                            {{form.monto_prorrateo}}
                            <label for="basic-default-fullname">Monto a Prorratear</label>
                        </div>
                        <div class="form-floating form-floating-outline mb-4">
                            {{form.monto_recuperar}}
                            <label for="basic-default-fullname">Monto a  Recuperar</label>
                        </div>
                        <div class="form-floating form-floating-outline mb-4">
                            {{form.fecha_recuperacion}}
                            <label for="basic-default-fullname">Fecha Recuperación</label>
                        </div>
                        <div class="form-floating form-floating-outline mb-4">
                            {{form.valor_bodega}}
                            <label for="basic-default-fullname">$ Bodega</label>
                        </div>
                        <div class="form-floating form-floating-outline mb-4">
                            {{form.valor_estacionamiento}}
                            <label for="basic-default-fullname">$ Estacionamiento</label>
                        </div>
                        <div class="form-floating form-floating-outline mb-4">
                            {{form.fecha_termino_venta}}
                            <label for="basic-default-fullname">Fecha termino de ventas</label>
                        </div>
                        <div class="form-floating form-floating-outline mb-4">
                            {{form.direccion_condominio}}
                            <label for="basic-default-fullname">Dirección Condominio</label>
                        </div>
                        <div class="form-floating form-floating-outline mb-4">
                            {{form.banco_alzante}}
                            <label for="basic-default-fullname">Banco Alzante</label>
                        </div>

                         <!--<div class="form-floating form-floating-outline mb-4">
                            <input type="text" class="form-control" id="basic-default-company" placeholder="Activo"/>
                            <label for="basic-default-company">Estado</label>
                        </div>-->
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a href="{% url 'administracion:listar_parametros' %}" class="btn btn-dark">Cancelar</a>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}