{% extends "pages/base.html" %}

{% load static %}

{% block contenido %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4">
        <a type="button" class="btn btn-info" style="float: right" href="{% url 'proyectos:crear_estacionamiento' %}">
            Agregar
        </a>
        <span class="text-muted fw-light">
            Estacionamientos /
        </span> 
        Listado Estacionamientos
    </h4>
    <div class="card">
        <div id="example" class="dt-container" style="margin: 20px;">
            <div class="dt-layout-row dt-layout-table">
                <div class="dt-layout-cell table-responsive text-nowrap">
                    <table id="example-table-bd" class="display  nowrap dataTable dtr-inline collapsed" style="width: 100%;" aria-describedby="example_info">
                        <thead>
                            <tr>
                                <th data-dt-column="0" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="ID: Click para ordenar" tabindex="0">
                                    <span class="dt-column-title" role="button">ID</span>
                                    <span class="dt-column-order"></span>
                                </th>
                                <th data-dt-column="1" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="Nombre: Click para ordenar" tabindex="0">
                                    <span class="dt-column-title" role="button">N° Estacionamiento</span>
                                    <span class="dt-column-order"></span>
                                </th>
                                <th data-dt-column="2" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="Nombre: Click para ordenar" tabindex="0">
                                    <span class="dt-column-title" role="button">Valor Estacionamiento (UF)</span>
                                    <span class="dt-column-order"></span>
                                </th>
                                <th data-dt-column="4" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="ID: Click para ordenar" tabindex="0">
                                    <span class="dt-column-title" role="button">N° Depto</span>
                                    <span class="dt-column-order"></span>
                                </th>
                                <th data-dt-column="5" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="ID: Click para ordenar" tabindex="0">
                                    <span class="dt-column-title" role="button">Torre</span>
                                    <span class="dt-column-order"></span>
                                </th>
                                <th data-dt-column="6" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="ID: Click para ordenar" tabindex="0">
                                    <span class="dt-column-title" role="button">Etapa</span>
                                    <span class="dt-column-order"></span>
                                </th>
                                <th data-dt-column="7" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="ID: Click para ordenar" tabindex="0">
                                    <span class="dt-column-title" role="button">Condominio</span>
                                    <span class="dt-column-order"></span>
                                </th>
                                <th data-dt-column="8" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="Nombre: Click para ordenar" tabindex="0">
                                    <span class="dt-column-title" role="button">Estado</span>
                                    <span class="dt-column-order"></span>
                                </th>
                                <th data-dt-column="9" class="dt-body-right dt-right dt-orderable-asc dt-orderable-desc" rowspan="1" colspan="1" tabindex="0">
                                    <span class="dt-column-title" role="button">Acciones</span>
                                    <span class="dt-column-order"></span>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                            {% for estacionamiento in estacionamientos %}
                            <tr>
                                <td>
                                    <i class="mdi mdi-key-variant mdi-20px text-danger me-3"></i>
                                    <span class="fw-medium">
                                        {{estacionamiento.id_estacionamiento}}
                                    </span>
                                </td>
                                <td>{{estacionamiento.nombre_estacionamiento}}</td>
                                <td>{{estacionamiento.valor_estacionamiento}}</td>
                                <td>{{estacionamiento.id_vivienda.nombre_vivienda}}</td>
                                <td>{{estacionamiento.id_vivienda.id_torre.nombre_torre}}</td>
                                <td>{{estacionamiento.id_vivienda.id_torre.id_etapa_condominio.nombre_etapa}}</td>
                                <td>{{estacionamiento.id_vivienda.id_torre.id_etapa_condominio.id_condominio.nombre_condominio}}</td>                          
                                <td><span class="badge rounded-pill bg-label-primary me-1">{{estacionamiento.estado_estacionamiento}}</span></td>
                                <td>
                                    <div class="d-flex justify-content-evenly">
                                        <a href="{% url 'proyectos:editar_estacionamiento' estacionamiento.id_estacionamiento %}">
                                            <button type="button" class="btn btn-icon btn-sm btn-outline-warning">                                          
                                                <span class="mdi mdi-pencil-outline"></span>               
                                            </button>
                                        </a>
                                        <a href="#">
                                            <button type="button" class="btn btn-icon btn-sm btn-outline-danger">
                                                <span class="mdi mdi-trash-can-outline"></span>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
 
<script src="{% static 'js/custom.js' %}"></script>

{% endblock contenido %}