{% extends "pages/base.html" %}

{% load static %}

{% block contenido %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row invoice-preview">
        <!-- Invoice -->
        <div class="col-xl-9 col-md-8 col-12 mb-md-0 mb-4">
            <div class="card invoice-preview-card">
                <div class="card-body">
                    <div class="d-flex justify-content-between flex-xl-row flex-md-column flex-sm-row flex-column">
                        <div class="mb-xl-0 pb-3">
                            <div class="d-flex svg-illustration align-items-center gap-2 mb-4">
                                {% for venta in datos_venta %}
                                <span class="h4 mb-0 app-brand-text fw-semibold">INMOBILIARIA COSTANERA PACIFICO <br> {{ venta.id_cotizacion.id_vivienda.id_modelo.id_condominio.nombre_condominio }} {{ venta.id_cotizacion.id_vivienda.id_torre.id_etapa_condominio.nombre_etapa}}</span>
                                {% endfor%}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <div class="tabla-container">
                                <h3 style="text-align: center" > Carta Oferta</h3>
                            <!-- Tabla 1 -->
                            <div>
                                <hr class="my-0">
                                <h3>Datos Carta Oferta</h3>
                                {% for venta in datos_venta %}
                                <table class="table">
                                    <tr>
                                        <th class="table-light">Nombre del Titular</th>
                                        <td>{{ venta.id_cotizacion.id_cliente.nombre_cliente }} {{venta.id_cotizacion.id_cliente.apellido_paterno_cliente }}</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">Rut</th>
                                        <td>{{ venta.id_cotizacion.id_cliente }}</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">Razón Social Inmobiliaria</th>
                                        <td>Inmobiliaria Costanera Pacífico SpA</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">Rut</th>
                                        <td>76.866.075-1</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">Quien Cancela Gastos Operacionales</th>
                                        <td>{{ venta.id_cotizacion.id_cliente.nombre_cliente }} {{venta.id_cotizacion.id_cliente.apellido_paterno_cliente }}</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">En Que Notaria Firma Escritura</th>
                                        <td>Notaria de Don Pepito</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">Banco Alzante</th>
                                        <td>Banco Security</td>
                                    </tr>
                                </table>
                                {% endfor%}
                            </div>

                            <!-- Tabla 2 -->
                            <div>
                                <hr class="my-0">
                                <h3>Datos Del Proyecto</h3>

                                {% for venta in datos_venta %}
                                <table class="table">
                                    <tr>
                                        <th class="table-light">Proyecto</th>
                                        <td>{{ venta.id_cotizacion.id_vivienda.id_modelo.id_condominio.nombre_condominio }}</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">Etapa</th>
                                        <td>{{ venta.id_cotizacion.id_vivienda.id_torre.id_etapa_condominio.nombre_etapa}}</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">Torre</th>
                                        <td>{{ venta.id_cotizacion.id_vivienda.id_torre.nombre_torre}}</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">Modelo</th>
                                        <td>{{ venta.id_cotizacion.id_vivienda.id_modelo.nombre_modelo}}</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">Dirección Inmueble</th>
                                        <td>{{ venta.id_cotizacion.id_vivienda.id_modelo.id_condominio.direccion_proyecto }}</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">Vivienda Social</th>
                                        <td>{{ venta.id_cotizacion.id_vivienda.id_modelo.id_condominio.vivienda_social }}</td>
                                    </tr>
                                </table>
                                {% endfor%}
                            </div>

                            <!-- Tabla 3 -->
                            <div>
                                <hr class="my-0">
                                <h3>Datos Inmueble</h3>
                                {% for venta in datos_venta %}
                                <table class="table">
                                    <tr>
                                        <th class="table-light">Nro. Depto y/o Casa</th>
                                        <td>{{venta.id_cotizacion.id_vivienda.nombre_vivienda}}</td>
                                        <th class="table-light">UF Depto. o Casa</th>
                                        <td>{{venta.monto_vivienda_ven}} UF</td>
                                        <th class="table-light">ROL</th>
                                        <td>{{venta.id_cotizacion.id_vivienda.rol_vivienda}}</td>
                                    </tr>
                                    <tr>
                                        {% for est in datos_estacionamiento %}
                                        <th class="table-light">Nro. Est</th>
                                        <td>{{est.nombre_estacionamiento}}</td>
                                        <th class="table-light">UF Est.</th>
                                        <td>{{est.valor_estacionamiento}} UF</td>
                                        <th class="table-light">ROL</th>
                                        <td>Sin Rol</td>
                                        {% endfor%}
                                    </tr>
                                    <tr>
                                        {% for bod in datos_bodega %}
                                        <th class="table-light">Nro. Bodega</th>
                                        <td>{{bod.nombre_bodega}}</td>
                                        <th class="table-light">UF Bodega</th>
                                        <td>{{bod.valor_bodega}} UF</td>
                                        <th class="table-light">ROL</th>
                                        <td>{{bod.rol_bodega}}</td>
                                        {% endfor%}
                                    </tr>
                                </table>
                                {% endfor%}
                            </div>

                            <!-- Tabla 4 -->
                            <div>
                                <hr class="my-0">
                                <h3>Precio de Venta y Financiamiento</h3>
                                {% for venta in datos_venta %}
                                <table class="table">
                                    <tr>
                                        <th class="table-light">Precio de Venta</th>
                                        <td>{{venta.monto_vivienda_ven}} UF</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">Recursos Propios (Pie)</th>
                                        <td>{{venta.pie_real_ven}} UF</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">Subsidio</th>
                                        <td>0 UF</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">Ahorro Previo</th>
                                        <td>0 UF</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">Monto Crédito</th>
                                        <td>{{venta.monto_credito_real_ven}} UF</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">Observaciones</th>
                                        <td>Proyecto Afecto a IVA, incluido en el precio.</td>
                                    </tr>
                                </table>
                                {% endfor%}
                                <hr class="my-0">
                            </div>
                        </div>
                        <hr class="my-0">
                    </div>
                    <div style="margin-top: 20px; text-align: center;">
                        <p style="font-style: italic; font-size: 14px;">
                            Gracias por su preferencia. Para consultas, contáctenos a <a
                                href="mailto:amoya@icpacifico.cl">amoya@icpacifico.cl</a>
                        </p>
                    </div>
                </div>


                <hr class="my-0">

                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <span class="fw-medium">Note:</span>
                            <span>It was a pleasure working with you and your team. We hope you will keep us in mind for future freelance
              projects. Thank You!</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Invoice -->

        <!-- Invoice Actions -->
        <div class="col-xl-3 col-md-4 col-12 invoice-actions">
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-primary d-grid w-100 mb-3 waves-effect waves-light"
                            data-bs-toggle="offcanvas" data-bs-target="#sendInvoiceOffcanvas">
                        <span class="d-flex align-items-center justify-content-center text-nowrap"><i
                                class="mdi mdi-send-outline scaleX-n1-rtl me-2"></i>ENVIAR DOCUMENTO</span>
                    </button>
                    <a class="btn btn-success d-grid w-100 mb-3 waves-effect" target="_blank"
                       href="{% url 'ventas:co_ven_excel' id_venta=id_venta %}">
                        DESCARGAR EXCEL
                    </a>
                    <a class="btn btn-info d-grid w-100 mb-3 waves-effect waves-light" target="_blank"
                       href="{% url 'ventas:co_ven_print' id_venta=id_venta %}">
                        DESCARGAR PDF
                    </a>
                </div>
            </div>
        </div>
        <!-- /Invoice Actions -->
    </div>

    <!-- Offcanvas -->
    <!-- Add Payment Sidebar -->
    <!-- /Add Payment Sidebar -->
    <!-- /Offcanvas -->
</div>
{% endblock contenido %}