<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carta Cierre Negocio</title>
    <style>
        .tabla-container {
            width: 50%; /* Ancho de los contenedores */
            margin: auto; /* Esto centra los contenedores en la página */
            text-align: center; /* Esto centra el contenido de las tablas */
        }

        .tabla1 {
            width: auto; /* Ajusta la tabla al contenido */
            border-collapse: collapse;
        }

        .tabla1 th,
        .tabla1 td {
            border: 1px solid #ddd;
            padding: 2px;
        }

        .tabla1 th {
            background-color: #f2f2f2;
        }

        td,
        th {
            text-align: justify;
        }



    </style>

</head>

<body>
<div>
    <img src="{{ icon }}" width="150" height="75">
</div>

<div class="tabla-container">
    <!-- Tabla 1 -->
    <div>
        <hr class="my-0">
        <h3>Datos Carta Oferta</h3>
        <table class="tabla1">
            <tr>
                <th>Nombre del Titular</th>
                <td>Luis Alberto Pizarro Alvarez</td>
            </tr>
            <tr>
                <th>Rut</th>
                <td>19,257,284-3</td>
            </tr>
            <tr>
                <th>Razón Social Inmobiliaria</th>
                <td>Inmobiliaria Costanera Pacífico SpA</td>
            </tr>
            <tr>
                <th>Rut</th>
                <td>76.866.075-1</td>
            </tr>
            <tr>
                <th>Quien Cancela Gastos Operacionales</th>
                <td>Luis Alberto Pizarro Alvarez</td>
            </tr>
            <tr>
                <th>En Que Notaria Firma Escritura</th>
                <td>Notaria de Don Pepito</td>
            </tr>
            <tr>
                <th>Banco Alzante</th>
                <td>Banco Security</td>
            </tr>
        </table>
    </div>

    <!-- Tabla 2 -->
    <div>
        <hr class="my-0">
        <h3>Datos Del Proyecto</h3>

        <table class="tabla1">
            <tr>
                <th>Proyecto</th>
                <td>Condominio Distrito Verde</td>
            </tr>
            <tr>
                <th>Etapa</th>
                <td>ETAPA III B</td>
            </tr>
            <tr>
                <th>Torre</th>
                <td>Torre 1</td>
            </tr>
            <tr>
                <th>Modelo</th>
                <td>Modelo C</td>
            </tr>
            <tr>
                <th>Dirección Inmueble</th>
                <td>Rue Emilio Apey 405</td>
            </tr>
            <tr>
                <th>Vivienda Social</th>
                <td>No</td>
            </tr>
        </table>
    </div>

    <!-- Tabla 3 -->
    <div>
        <hr class="my-0">
        <h3>Datos Inmueble</h3>
        <table class="tabla1">
            <tr>
                <th>Nro. Depto y/o Casa</th>
                <td>303</td>
                <th>UF Depto. o Casa</th>
                <td>2921 UF</td>
                <th>ROL</th>
                <td>123456-8</td>
            </tr>
            <tr>
                <th>Nro. Est</th>
                <td>19</td>
                <th>UF Est.</th>
                <td>100 UF</td>
                <th>ROL</th>
                <td>123138-9</td>
            </tr>
            <tr>
                <th>Nro. Bodega</th>
                <td>1</td>
                <th>UF Bodega</th>
                <td>100 UF</td>
                <th>ROL</th>
                <td>134658-7</td>
            </tr>
        </table>
    </div>

    <!-- Tabla 4 -->
    <div>
        <hr class="my-0">
        <h3>Precio de Venta y Financiamiento</h3>
        <table class="tabla1">
            <tr>
                <th>Precio de Venta</th>
                <td>3271 UF</td>
            </tr>
            <tr>
                <th>Recursos Propios (Pie)</th>
                <td>255 UF</td>
            </tr>
            <tr>
                <th>Subsidio</th>
                <td>0 UF</td>
            </tr>
            <tr>
                <th>Ahorro Previo</th>
                <td>0 UF</td>
            </tr>
            <tr>
                <th>Monto Crédito</th>
                <td>3016 UF</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                <td>Proyecto Afecto a IVA, incluido en el precio.</td>
            </tr>
        </table>
        <hr class="my-0">
    </div>
</div>

<div style="margin-top: 20px; text-align: center;">
    <p style="font-style: italic; font-size: 14px;">
        Gracias por su preferencia. Para consultas, contáctenos a <a href="mailto:amoya@icpacifico.cl">amoya@icpacifico.cl</a>
    </p>
</div>

</body>

</html>
