{% extends "pages/base.html" %}

{% load static %}

{% block contenido %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row invoice-preview">
        <!-- Invoice -->
        <div class="col-xl-9 col-md-8 col-12 mb-md-0 mb-4">
            <div class="card invoice-preview-card">
                <div class="card-body">
                    <div class="d-flex justify-content-between flex-xl-row flex-md-column flex-sm-row flex-column">
                        <div class="mb-xl-0 pb-3">
                            <div class="d-flex svg-illustration align-items-center gap-2 mb-4">
                                <span class="h4 mb-0 app-brand-text fw-semibold">INMOBILIARIA COSTANERA PACIFICO <br> Condominio Distrito Verde ETAPA XX</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <div class="tabla-container">
                                <h3 style="text-align: center" > Carta Oferta</h3>
                            <!-- Tabla 1 -->
                            <div>
                                <hr class="my-0">
                                <h3>Datos Carta Oferta</h3>
                                <table class="table">
                                    <tr>
                                        <th class="table-light">Nombre del Titular</th>
                                        <td>Luis Alberto Pizarro Alvarez</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">Rut</th>
                                        <td>19,257,284-3</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">Razón Social Inmobiliaria</th>
                                        <td>Inmobiliaria Costanera Pacífico SpA</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">Rut</th>
                                        <td>76.866.075-1</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">Quien Cancela Gastos Operacionales</th>
                                        <td>Luis Alberto Pizarro Alvarez</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">En Que Notaria Firma Escritura</th>
                                        <td>Notaria de Don Pepito</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">Banco Alzante</th>
                                        <td>Banco Security</td>
                                    </tr>
                                </table>
                            </div>

                            <!-- Tabla 2 -->
                            <div>
                                <hr class="my-0">
                                <h3>Datos Del Proyecto</h3>

                                <table class="table">
                                    <tr>
                                        <th class="table-light">Proyecto</th>
                                        <td>Condominio Distrito Verde</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">Etapa</th>
                                        <td>ETAPA III B</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">Torre</th>
                                        <td>Torre 1</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">Modelo</th>
                                        <td>Modelo C</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">Dirección Inmueble</th>
                                        <td>Rue Emilio Apey 405</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">Vivienda Social</th>
                                        <td>No</td>
                                    </tr>
                                </table>
                            </div>

                            <!-- Tabla 3 -->
                            <div>
                                <hr class="my-0">
                                <h3>Datos Inmueble</h3>
                                <table class="table">
                                    <tr>
                                        <th class="table-light">Nro. Depto y/o Casa</th>
                                        <td>303</td>
                                        <th class="table-light">UF Depto. o Casa</th>
                                        <td>2921 UF</td>
                                        <th class="table-light">ROL</th>
                                        <td>123456-8</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">Nro. Est</th>
                                        <td>19</td>
                                        <th class="table-light">UF Est.</th>
                                        <td>100 UF</td>
                                        <th class="table-light">ROL</th>
                                        <td>123138-9</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">Nro. Bodega</th>
                                        <td>1</td>
                                        <th class="table-light">UF Bodega</th>
                                        <td>100 UF</td>
                                        <th class="table-light">ROL</th>
                                        <td>134658-7</td>
                                    </tr>
                                </table>
                            </div>

                            <!-- Tabla 4 -->
                            <div>
                                <hr class="my-0">
                                <h3>Precio de Venta y Financiamiento</h3>
                                <table class="table">
                                    <tr>
                                        <th class="table-light">Precio de Venta</th>
                                        <td>3271 UF</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">Recursos Propios (Pie)</th>
                                        <td>255 UF</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">Subsidio</th>
                                        <td>0 UF</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">Ahorro Previo</th>
                                        <td>0 UF</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">Monto Crédito</th>
                                        <td>3016 UF</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">Observaciones</th>
                                        <td>Proyecto Afecto a IVA, incluido en el precio.</td>
                                    </tr>
                                </table>
                                <hr class="my-0">
                            </div>
                        </div>
                        <hr class="my-0">
                    </div>
                    <div style="margin-top: 20px; text-align: center;">
                        <p style="font-style: italic; font-size: 14px;">
                            Gracias por su preferencia. Para consultas, contáctenos a <a
                                href="mailto:amoya@icpacifico.cl">amoya@icpacifico.cl</a>
                        </p>
                    </div>
                </div>


                <hr class="my-0">

                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <span class="fw-medium">Note:</span>
                            <span>It was a pleasure working with you and your team. We hope you will keep us in mind for future freelance
              projects. Thank You!</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Invoice -->

        <!-- Invoice Actions -->
        <div class="col-xl-3 col-md-4 col-12 invoice-actions">
            <div class="card">
                <div class="card-body">
                    <a class="btn btn-secondary d-grid w-100 mb-3 waves-effect" target="_blank"
                       href="{% url 'ventas:co_ven_excel' id_venta=id_venta %}">
                        Imprimir
                    </a>
                    <button class="btn btn-info d-grid w-100 mb-3 waves-effect waves-light">
                        Descrga PDF
                    </button>
                    <a class="btn btn-secondary d-grid w-100 mb-3 waves-effect" target="_blank"
                       href="{% url 'ventas:co_ven_print' id_venta=id_venta %}">
                        Imprimir
                    </a>
                </div>
            </div>
        </div>
        <!-- /Invoice Actions -->
    </div>

    <!-- Offcanvas -->
    <!-- Add Payment Sidebar -->
    <!-- /Add Payment Sidebar -->
    <!-- /Offcanvas -->
</div>
{% endblock contenido %}