{% extends "pages/base.html" %}

{% load static %}

{% block contenido %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row invoice-preview">
        <!-- Invoice -->
        <div class="col-xl-9 col-md-8 col-12 mb-md-0 mb-4">
            <div class="card invoice-preview-card">
                <div class="card-body">
                    <div class="d-flex justify-content-between flex-xl-row flex-md-column flex-sm-row flex-column">
                        <div class="mb-xl-0 pb-3">
                            <div class="d-flex svg-illustration align-items-center gap-2 mb-4">
                                <span class="h4 mb-0 app-brand-text fw-semibold">INMOBILIARIA COSTANERA PACIFICO <br> Condominio Distrito Verde ETAPA XX</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-0">
                <div class="card-body">
                    <div class="d-flex justify-content-between flex-wrap">
                        <div>
                            <!-- Invoice -->
                            <div>
                                <div>
                                    <div>
                                        <div>
                                            <!-- Encabezado carta -->
                                            {% for venta in datos_venta %}
                                            <p>Fecha de la carta</p>
                                            <p>Señor(a): {{ venta.id_cotizacion.id_cliente.nombre_cliente }}</p>
                                            <p>RUT: {{ venta.id_cotizacion.id_cliente.id_cliente}}</p>
                                            {% endfor %}
                                            <!-- Fin Encabezado carta -->

                                            <!-- Saludo y datos depto carta -->
                                            <p>De nuestra consideración:</p>
                                            <p>Por la presentenos es grato saludarlo(a) y a la vez informarle las
                                                condiciones
                                                del cierre de
                                                negocio:</p>
                                            {% for venta in datos_venta %}
                                            <p>Departamento N°{{ venta.id_cotizacion.id_vivienda.nombre_vivienda }},
                                                BODEGA N°
                                                {},
                                                ESTACIONAMIENTO N° {}, por un valor de
                                                {{venta.id_cotizacion.id_vivienda.valor_vivienda }}
                                                UF.</p>
                                            <p>Condominio </p>
                                            {% endfor %}
                                            <!-- Saludo y datos depto carta -->
                                            <hr>
                                            <div>
                                                <h3>Forma de pago UF</h3>
                                            </div>
                                            <!-- Forma de pago -->
                                            <table>
                                                <thead>
                                                <tr>
                                                    <th>
                                                    </th>
                                                    <th>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <td>
                                                    <tr>
                                                        <td>Reserva</td>
                                                        <td>0</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Pie Contado</td>
                                                        <td>0</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Saldo a pagar Contado</td>
                                                        <td>0</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Total</td>
                                                        <td>0</td>
                                                    </tr>
                                                </td>
                                                </tbody>
                                            </table>
                                            <!-- Fin Forma de pago -->
                                            <hr>
                                            <div>
                                                <h3>Cierre de Negocio</h3>
                                            </div>
                                            <!-- Cierre de Negocio -->
                                            {% if datos_cierre_negocio %}
                                            <table class="tabla1">
                                                <tr>
                                                    <th>Banco</th>
                                                    <th>Forma de pago</th>
                                                    <th>N° DOcumento</th>
                                                    <th>Fecha</th>
                                                    <th>UF</th>
                                                    <th>$</th>
                                                </tr>
                                                <tbody>
                                                {% for dato in datos_cierre_negocio %}
                                                <tr>
                                                    <td style="text-align: center">{{dato.id_banco}}</td>
                                                    <td style="text-align: center">{{dato.forma_pago}}</td>
                                                    <td style="text-align: center">{{dato.numero_documento}}</td>
                                                    <td style="text-align: center">{{dato.fecha_pago}}</td>
                                                    <td style="text-align: center">{{dato.monto_pago}}</td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                            {% else %}
                                            <table class="table" style="min-height:200px">
                                                <thead class="table-light">
                                                <tr>
                                                    <th>Banco</th>
                                                    <th>Forma de pago</th>
                                                    <th>N° DOcumento</th>
                                                    <th>Fecha</th>
                                                    <th>UF</th>
                                                    <th>$</th>
                                                </tr>
                                                </thead>
                                                <tbody class="table-border-bottom-0">
                                                <tr>
                                                    <td colspan='4' align='center'><span class="border-info me-1"><i
                                                            class="mdi mdi-information-outline"></i>Aún no se han realizado pagos</span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            {% endif%}
                                            <!-- Fin Cierre de Negocio -->
                                            <hr>
                                            <div>
                                                <h3>Detalle Pie</h3>
                                            </div>
                                            <!-- Detalle Pie-->
                                            {% if datos_detalle_pie %}
                                            <table class="tabla1">
                                                <tr>
                                                    <th>Banco</th>
                                                    <th>Forma de pago</th>
                                                    <th>N° DOcumento</th>
                                                    <th>Fecha</th>
                                                    <th>UF</th>
                                                    <th>$</th>
                                                </tr>
                                                <tbody>
                                                {% for dato in datos_detalle_pie %}
                                                <tr>
                                                    <td style="text-align: center">{{dato.id_banco}}</td>
                                                    <td style="text-align: center">{{dato.forma_pago}}</td>
                                                    <td style="text-align: center">{{dato.numero_documento}}</td>
                                                    <td style="text-align: center">{{dato.fecha_pago}}</td>
                                                    <td style="text-align: center">{{dato.monto_pago}}</td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                            {% else %}
                                            <table class="table" style="min-height:200px">
                                                <thead class="table-light">
                                                <tr>
                                                    <th>Banco</th>
                                                    <th>Forma de pago</th>
                                                    <th>N° DOcumento</th>
                                                    <th>Fecha</th>
                                                    <th>UF</th>
                                                    <th>$</th>
                                                </tr>
                                                </thead>
                                                <tbody class="table-border-bottom-0">
                                                <tr>
                                                    <td colspan='4' align='center'><span class="border-info me-1"><i
                                                            class="mdi mdi-information-outline"></i>Aún no se han realizado pagos</span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            {% endif%}
                                            <!-- Fin Detalle Pie-->
                                            <hr>
                                            <p>Los valores señalados en recuadro son referenciales y calculados a valor
                                                UF de
                                                hoy.
                                                Los pagos se imputan contablemente según se indica en clausula número
                                                CUARTA de
                                                la Promesa de
                                                Compraventa:
                                            </p>
                                            <p>“ …. Las sumas entregadas por el Promitente Comprador, referidas en los
                                                literales
                                                a) referente a
                                                “reserva”,
                                                b) referente a “Pie” y c) referente a “saldo restante”, de la presente
                                                cláusula,
                                                se imputarán al
                                                precio total,
                                                tomándose como criterio de la mencionada imputación, las sumas
                                                convertidas a
                                                Unidades de Fomento
                                                según valor de ésta al momento del COBRO EFECTIVO de los documentos
                                                entregados
                                                por el Promitente
                                                Comprador.</p>
                                            <p>En concordancia con lo anterior, se le informa que será de su exclusiva
                                                responsabilidad el
                                                cumplimiento y
                                                mantención de los requisitos necesarios para materializar la compra de
                                                su
                                                Departamento, poseer
                                                capacidad financiera suficiente para su adquisición y/o cumplir de modo
                                                adecuado
                                                las exigencias
                                                para
                                                acceder a créditos comerciales, de cualquier naturaleza, que permitan
                                                financiar
                                                la compra
                                                ofrecida.
                                            </p>
                                            <p>Una vez iniciado el proceso de Escrituración deberá pagar los Gastos
                                                Operacionales al banco o
                                                institución
                                                que financiará la adquisición de su departamento.</p>
                                            <p>En señal de aceptación y conocimiento de la información contenida en la
                                                presente,
                                                agradeceremos a
                                                usted
                                                firmar este documento en dos ejemplares, quedando uno en su poder y otro
                                                en su
                                                carpeta.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-0">
                    </div>
                    <div style="margin-top: 20px; text-align: center;">
                        <p style="font-style: italic; font-size: 14px;">
                            Gracias por su preferencia. Para consultas, contáctenos a <a
                                href="mailto:amoya@icpacifico.cl">amoya@icpacifico.cl</a>
                        </p>
                    </div>
                </div>


                <hr class="my-0">

                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <span class="fw-medium">Note:</span>
                            <span>It was a pleasure working with you and your team. We hope you will keep us in mind for future freelance
              projects. Thank You!</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Invoice -->

        <!-- Invoice Actions -->
        <div class="col-xl-3 col-md-4 col-12 invoice-actions">
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-primary d-grid w-100 mb-3 waves-effect waves-light"
                            data-bs-toggle="offcanvas" data-bs-target="#sendInvoiceOffcanvas">
                        <span class="d-flex align-items-center justify-content-center text-nowrap"><i
                                class="mdi mdi-send-outline scaleX-n1-rtl me-2"></i>ENVIAR</span>
                    </button>
                    <a class="btn btn-info d-grid w-100 mb-3 waves-effect waves-light" target="_blank"
                       href="{% url 'ventas:ccn_print' id_venta=id_venta %}">
                        DESCARGAR PDF
                    </a>

                </div>
            </div>
        </div>
        <!-- /Invoice Actions -->
    </div>

    <!-- Offcanvas -->
    <!-- Send Invoice Sidebar -->
    <div class="offcanvas offcanvas-end" id="sendInvoiceOffcanvas" aria-hidden="true">
        <div class="offcanvas-header mb-3">
            <h5 class="offcanvas-title">Send Invoice</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body flex-grow-1">
            <form>
                <div class="form-floating form-floating-outline mb-4">
                    <input type="text" class="form-control" id="invoice-from" value="shelbyComapny@email.com"
                           placeholder="company@email.com">
                    <label for="invoice-from">From</label>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <input type="text" class="form-control" id="invoice-to" value="qConsolidated@email.com"
                           placeholder="company@email.com">
                    <label for="invoice-to">To</label>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <input type="text" class="form-control" id="invoice-subject"
                           value="Invoice of purchased Admin Templates" placeholder="Invoice regarding goods">
                    <label for="invoice-subject">Subject</label>
                </div>
                <div class="form-floating form-floating-outline mb-4">
        <textarea class="form-control" name="invoice-message" id="invoice-message" style="height: 190px;">Dear Queen Consolidated,
          Thank you for your business, always a pleasure to work with you!
          We have generated a new invoice in the amount of $95.59
          We would appreciate payment of this invoice by 05/11/2021</textarea>
                    <label for="invoice-message">Message</label>
                </div>
                <div class="mb-4">
        <span class="badge bg-label-primary rounded-pill">
          <i class="mdi mdi-link-variant mdi-14px me-1"></i>
          <span class="align-middle">Invoice Attached</span>
        </span>
                </div>
                <div class="mb-3 d-flex flex-wrap">
                    <button type="button" class="btn btn-primary me-3 waves-effect waves-light"
                            data-bs-dismiss="offcanvas">Send
                    </button>
                    <button type="button" class="btn btn-outline-secondary waves-effect" data-bs-dismiss="offcanvas">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- /Send Invoice Sidebar -->

    <!-- Add Payment Sidebar -->
    <div class="offcanvas offcanvas-end" id="addPaymentOffcanvas" aria-hidden="true">
        <div class="offcanvas-header mb-3">
            <h5 class="offcanvas-title">Add Payment</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body flex-grow-1">
            <div class="d-flex justify-content-between bg-lighter p-2 mb-3">
                <p class="mb-0">Invoice Balance:</p>
                <p class="fw-medium mb-0">$5000.00</p>
            </div>
            <form>
                <div class="input-group input-group-merge mb-4">
                    <span class="input-group-text">$</span>
                    <div class="form-floating form-floating-outline">
                        <input type="text" id="invoiceAmount" name="invoiceAmount" class="form-control invoice-amount"
                               placeholder="100">
                        <label for="invoiceAmount">Payment Amount</label>
                    </div>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <input id="payment-date" class="form-control invoice-date flatpickr-input" type="text"
                           readonly="readonly">
                    <label for="payment-date">Payment Date</label>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <select class="form-select" id="payment-method">
                        <option value="" selected="" disabled="">Select payment method</option>
                        <option value="Cash">Cash</option>
                        <option value="Bank Transfer">Bank Transfer</option>
                        <option value="Debit Card">Debit Card</option>
                        <option value="Credit Card">Credit Card</option>
                        <option value="Paypal">Paypal</option>
                    </select>
                    <label for="payment-method">Payment Method</label>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <textarea class="form-control" id="payment-note" style="height: 62px;"></textarea>
                    <label for="payment-note">Internal Payment Note</label>
                </div>
                <div class="mb-3 d-flex flex-wrap">
                    <button type="button" class="btn btn-primary me-3 waves-effect waves-light"
                            data-bs-dismiss="offcanvas">Send
                    </button>
                    <button type="button" class="btn btn-outline-secondary waves-effect" data-bs-dismiss="offcanvas">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- /Add Payment Sidebar -->

    <!-- /Offcanvas -->


</div>
{% endblock contenido %}