<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotización</title>
    <style>
        .tabla-container {
            width: 50%; /* Ancho de los contenedores */
            margin: auto; /* Esto centra los contenedores en la página */
            text-align: center; /* Esto centra el contenido de las tablas */
        }

        .tabla1 {
            width: auto; /* Ajusta la tabla al contenido */
            border-collapse: collapse;
        }

        .tabla1 th,
        .tabla1 td {
            border: 1px solid #ddd;
            padding: 2px;
        }

        .tabla1 th {
            background-color: #f2f2f2;
        }

        td,
        th {
            text-align: justify;
        }




    </style>

</head>

<body>
<div>
    <img src="{{ icon }}" width="150" height="75">
</div>

<div class="tabla-container">
    <!-- Tabla 1 -->
    <div>
        <hr class="my-0">
        <h3>Datos Carta Oferta</h3>
        {% for venta in datos_venta %}
        <table class="table">
            <tr>
                <th class="table-light">Nombre del Titular</th>
                <td>{{ venta.id_cotizacion.id_cliente.nombre_cliente }}
                    {{venta.id_cotizacion.id_cliente.apellido_paterno_cliente }}
                </td>
            </tr>
            <tr>
                <th class="table-light">Rut</th>
                <td>{{ venta.id_cotizacion.id_cliente }}</td>
            </tr>
            <tr>
                <th class="table-light">Razón Social Inmobiliaria</th>
                <td>Inmobiliaria Costanera Pacífico SpA</td>
            </tr>
            <tr>
                <th class="table-light">Rut</th>
                <td>76.866.075-1</td>
            </tr>
            <tr>
                <th class="table-light">Quien Cancela Gastos Operacionales</th>
                <td>{{ venta.id_cotizacion.id_cliente.nombre_cliente }}
                    {{venta.id_cotizacion.id_cliente.apellido_paterno_cliente }}
                </td>
            </tr>
            <tr>
                <th class="table-light">En Que Notaria Firma Escritura</th>
                <td>Notaria de Don Pepito</td>
            </tr>
            <tr>
                <th class="table-light">Banco Alzante</th>
                <td>Banco Security</td>
            </tr>
        </table>
        {% endfor%}
    </div>

    <!-- Tabla 2 -->
    <div>
        <hr class="my-0">
        <h3>Datos Del Proyecto</h3>

        {% for venta in datos_venta %}
        <table class="table">
            <tr>
                <th class="table-light">Proyecto</th>
                <td>{{ venta.id_cotizacion.id_vivienda.id_modelo.id_condominio.nombre_condominio }}</td>
            </tr>
            <tr>
                <th class="table-light">Etapa</th>
                <td>{{ venta.id_cotizacion.id_vivienda.id_torre.id_etapa_condominio.nombre_etapa}}</td>
            </tr>
            <tr>
                <th class="table-light">Torre</th>
                <td>{{ venta.id_cotizacion.id_vivienda.id_torre.nombre_torre}}</td>
            </tr>
            <tr>
                <th class="table-light">Modelo</th>
                <td>{{ venta.id_cotizacion.id_vivienda.id_modelo.nombre_modelo}}</td>
            </tr>
            <tr>
                <th class="table-light">Dirección Inmueble</th>
                <td>{{ venta.id_cotizacion.id_vivienda.id_modelo.id_condominio.direccion_proyecto }}</td>
            </tr>
            <tr>
                <th class="table-light">Vivienda Social</th>
                <td>{{ venta.id_cotizacion.id_vivienda.id_modelo.id_condominio.vivienda_social }}</td>
            </tr>
        </table>
        {% endfor%}
    </div>

    <!-- Tabla 3 -->
    <div>
        <hr class="my-0">
        <h3>Datos Inmueble</h3>
        {% for venta in datos_venta %}
        <table class="table">
            <tr>
                <th class="table-light">Nro. Depto y/o Casa</th>
                <td>{{venta.id_cotizacion.id_vivienda.nombre_vivienda}}</td>
                <th class="table-light">UF Depto. o Casa</th>
                <td>{{venta.monto_vivienda_ven}} UF</td>
                <th class="table-light">ROL</th>
                <td>{{venta.id_cotizacion.id_vivienda.rol_vivienda}}</td>
            </tr>
            <tr>
                {% for est in datos_estacionamiento %}
                <th class="table-light">Nro. Est</th>
                <td>{{est.nombre_estacionamiento}}</td>
                <th class="table-light">UF Est.</th>
                <td>{{est.valor_estacionamiento}} UF</td>
                <th class="table-light">ROL</th>
                <td>Sin Rol</td>
                {% endfor%}
            </tr>
            <tr>
                {% for bod in datos_bodega %}
                <th class="table-light">Nro. Bodega</th>
                <td>{{bod.nombre_bodega}}</td>
                <th class="table-light">UF Bodega</th>
                <td>{{bod.valor_bodega}} UF</td>
                <th class="table-light">ROL</th>
                <td>{{bod.rol_bodega}}</td>
                {% endfor%}
            </tr>
        </table>
        {% endfor%}
    </div>

    <!-- Tabla 4 -->
    <div>
        <hr class="my-0">
        <h3>Precio de Venta y Financiamiento</h3>
        {% for venta in datos_venta %}
        <table class="table">
            <tr>
                <th class="table-light">Precio de Venta</th>
                <td>{{venta.monto_vivienda_ven}} UF</td>
            </tr>
            <tr>
                <th class="table-light">Recursos Propios (Pie)</th>
                <td>{{venta.pie_real_ven}} UF</td>
            </tr>
            <tr>
                <th class="table-light">Subsidio</th>
                <td>0 UF</td>
            </tr>
            <tr>
                <th class="table-light">Ahorro Previo</th>
                <td>0 UF</td>
            </tr>
            <tr>
                <th class="table-light">Monto Crédito</th>
                <td>{{venta.monto_credito_real_ven}} UF</td>
            </tr>
            <tr>
                <th class="table-light">Observaciones</th>
                <td>Proyecto Afecto a IVA, incluido en el precio.</td>
            </tr>
        </table>
        {% endfor%}
        <hr class="my-0">
    </div>
</div>

<div style="margin-top: 20px; text-align: center;">
    <p style="font-style: italic; font-size: 14px;">
        Gracias por su preferencia. Para consultas, contáctenos a <a href="mailto:amoya@icpacifico.cl">amoya@icpacifico.cl</a>
    </p>
</div>

</body>

</html>
