{% extends "pages/base.html" %}

{% load static %}

{% block contenido %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row invoice-preview">
        <!-- Invoice -->
        <div class="col-xl-9 col-md-8 col-12 mb-md-0 mb-4">
            <div class="card invoice-preview-card">
                <div class="card-body">
                    <div class="d-flex justify-content-between flex-xl-row flex-md-column flex-sm-row flex-column">
                        <div class="mb-xl-0 pb-3">
                            <div class="d-flex svg-illustration align-items-center gap-2 mb-4">
                               <span class="h4 mb-0 app-brand-text fw-semibold">INMOBILIARIA COSTANERA PACIFICO <br> {{ proyectos.condominio }} {{ proyectos.etapa}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <div class="tabla-container">
                            <h3 style="text-align: center" >Cotización</h3>
                            <!-- Tabla 1 -->
                            <div>
                                <h3>Datos cotización</h3>
                                <table class="table">
                                    <tr>
                                        <th class="table-light">Proyecto</th>
                                        <td>{{proyectos.condominio}}</td>
                                        <th class="table-light">Cotización</th>
                                        <td>{{n_cotizacion}}</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">Etapa y Torre</th>
                                        <td>{{proyectos.etapa}} - {{proyectos.torre}}</td>
                                        <th class="table-light">Fecha</th>
                                        <td>{{fecha_coti }}</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">Dirección</th>
                                        <td>{{proyectos.direccion}}</td>
                                        <th class="table-light">Valor U.F $</th>
                                        <td>35.650,50</td>
                                    </tr>
                                </table>
                            </div>

                            <!-- Tabla 2 -->
                            <div>
                                <hr class="my-0">
                                <h3>Datos del Cliente</h3>
                                {% for dato in clientes %}
                                <table class="table">
                                    <tr>
                                        <th class="table-light">Nombre</th>
                                        <td>{{ dato.nombre_cliente }} {{ dato.nombre2_cliente }} {{ dato.apellido_paterno_cliente }} {{ dato.apellido_materno_cliente }}
                                        </td>
                                        <th class="table-light">Rut</th>
                                        <td>{{ dato.id_cliente }}</td>

                                    </tr>
                                    <tr>
                                        <th class="table-light">Dirección</th>
                                        <td>{{ dato.direccion_cliente }}</td>
                                        <th class="table-light">E-mail</th>
                                        <td>{{ dato.correo_cliente}}</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">Comuna</th>
                                        <td>{{ dato.region}}</td>
                                        <th class="table-light">Fono</th>
                                        <td>{{ dato.fono_cliente}}</td>
                                    </tr>
                                </table>
                                {% endfor %}
                            </div>

                            <!-- Tabla 3 -->
                            <div>
                                <hr class="my-0">
                                <h3>Datos del Bien</h3>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="table-light">Unidad</th>
                                        <th class="table-light">N°</th>
                                        <th class="table-light">Tipo</th>
                                        <th class="table-light">Piso</th>
                                        <th class="table-light">Orientación</th>
                                        <th class="table-light">Sup. Útil</th>
                                        <th class="table-light">Sup. Terraza</th>
                                        <th class="table-light">Sup. Total</th>
                                        <th class="table-light">Precio. UF</th>
                                        <th class="table-light">Precio. $CLP</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for dato in viviendas %}
                                    <tr>
                                        <td>Departamento</td>
                                        <td>{{dato.nombre_vivienda}}</td>
                                        <td>{{dato.id_modelo.nombre_modelo}}</td>
                                        <td>{{dato.piso}}</td>
                                        <td>{{dato.ori_vivienda}}</td>
                                        <td>{{dato.metros_vivienda}}</td>
                                        <td>{{dato.metros_terraza_vivienda}}</td>
                                        <td>{{dato.metros_total_vivienda}}</td>
                                        <td>{{dato.valor_vivienda}}</td>
                                        <td>{{dato.valor_vivienda}}</td>
                                    </tr>
                                    {% endfor %}
                                    {% for dato in bodegas %}
                                    <tr>
                                        <td>Bodega</td>
                                        <td>{{dato.nombre_bodega}}</td>
                                        <td>Bodega</td>
                                        <td>-1</td>
                                        <td>X</td>
                                        <td>2.41</td>
                                        <td>0</td>
                                        <td>2.41</td>
                                        <td>{{dato.valor_bodega}}</td>
                                        <td>{{dato.valor_bodega}}</td>
                                    </tr>
                                    {% endfor %}
                                    {% for dato in estacionamientos %}
                                    <tr>
                                        <td>Estacionamiento</td>
                                        <td>{{dato.nombre_estacionamiento}}</td>
                                        <td>Est</td>
                                        <td>0</td>
                                        <td>X</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>{{dato.valor_estacionamiento}}</td>
                                        <td>{{dato.valor_estacionamiento}}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            <!-- Tabla 4 -->
                            <div>
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th class="table-light">Total Precio Lista</th>
                                        <td>3.175,00 UF</td>
                                        <td>$90.850.960.-</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">Descuento</th>
                                        <td>100 UF</td>
                                        <td>$350.000.-</td>
                                    </tr>
                                    <tr>
                                        <th class="table-light">Total Precio Venta</th>
                                        <td>3.075 UF</td>
                                        <td>$90.550.960.-</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- Tabla 5 -->

                            <div>
                                <hr class="my-0">
                                <h6>Forma de Pago</h6>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="table-light">Concepto</th>
                                        <th class="table-light">%</th>
                                        <th class="table-light">Valor UF</th>
                                        <th class="table-light">Valor $</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Reserva</td>
                                        <td>0.35%</td>
                                        <td>10</td>
                                        <td>350.000</td>
                                    </tr>
                                    <tr>
                                        <td>Pie Contado</td>
                                        <td>19.65%</td>
                                        <td>554,20</td>
                                        <td>19.560.112</td>
                                    </tr>
                                    <tr>
                                        <td>Credito Hip.</td>
                                        <td>80 %</td>
                                        <td>2.556</td>
                                        <td>80.500.850</td>
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td>100%</td>
                                        <td>2.850</td>
                                        <td>90.580.850</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- Tabla 6 -->

                            <div>
                                <hr class="my-0">

                                <h6>Simulación de Crédito Hipotecario</h6>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="table-light">Plazo (años)</th>
                                        <th class="table-light">Tasa Anual</th>
                                        <th class="table-light">Div. UF</th>
                                        <th class="table-light">Div. CLP $</th>
                                        <th class="table-light">Renta $</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>15</td>
                                        <td>4.00</td>
                                        <td>16.69</td>
                                        <td>589.100</td>
                                        <td>2.350.500</td>
                                    </tr>
                                    <tr>
                                        <td>20</td>
                                        <td>4.00</td>
                                        <td>16.69</td>
                                        <td>589.100</td>
                                        <td>1.930.500</td>
                                    </tr>
                                    <tr>
                                        <td>25</td>
                                        <td>4.00</td>
                                        <td>16.69</td>
                                        <td>589.100</td>
                                        <td>1.650.500</td>
                                    </tr>
                                    <tr>
                                        <td>30</td>
                                        <td>4.00</td>
                                        <td>16.69</td>
                                        <td>589.100</td>
                                        <td>1.350.500</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- Tabla 7 -->

                            <hr class="my-0">
                            <div>
                                <table class="table">
                                    <tbody>
                                    <td>
                                        <div>
                                            <h6>Datos de Atención</h6>
                                            <div>
                                                <table class="table">
                                                    <tr>
                                                        <th class="table-light">Atendido por:</th>
                                                        <td>Kriss Aguirre Zambra</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="table-light">Fono:</th>
                                                        <td>+56958709218</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="table-light">E-mail</th>
                                                        <td>kaguirre@icpacifico.cl</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </td>
                                    <!-- Tabla 6 -->
                                    <td>
                                        <div class="center-top">
                                            <h6></h6>
                                            <div>
                                                <div>
                                                    <table class="table">
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <hr class="my-0">
                    </div>
                    <div style="margin-top: 20px; text-align: center;">
                        <p style="font-style: italic; font-size: 14px;">
                            Gracias por su preferencia. Para consultas, contáctenos a <a
                                href="mailto:amoya@icpacifico.cl">amoya@icpacifico.cl</a>
                        </p>
                    </div>
                </div>


                <hr class="my-0">

                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <span class="fw-medium">Note:</span>
                            <span>It was a pleasure working with you and your team. We hope you will keep us in mind for future freelance
              projects. Thank You!</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Invoice -->

        <!-- Invoice Actions -->
        <div class="col-xl-3 col-md-4 col-12 invoice-actions">
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-primary d-grid w-100 mb-3 waves-effect waves-light"
                            data-bs-toggle="offcanvas" data-bs-target="#sendInvoiceOffcanvas">
                        <span class="d-flex align-items-center justify-content-center text-nowrap"><i
                                class="mdi mdi-send-outline scaleX-n1-rtl me-2"></i>ENVIAR DOCUMENTO</span>
                    </button>
                    <a class="btn btn-info d-grid w-100 mb-3 waves-effect waves-light" target="_blank"
                       href="{% url 'ventas:print_cotizacion' id_cotizacion=id_cotizacion %}">
                        DESCARGAR PDF
                    </a>
                </div>
            </div>
        </div>
        <!-- /Invoice Actions -->
    </div>

    <!-- Offcanvas -->
    <!-- Add Payment Sidebar -->
    <!-- /Add Payment Sidebar -->
    <!-- /Offcanvas -->
</div>
{% endblock contenido %}