<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotización</title>
    <style>
        .tabla-container {
            width: 50%; /* Ancho de los contenedores */
            margin: auto; /* Esto centra los contenedores en la página */
            text-align: center; /* Esto centra el contenido de las tablas */
        }

        .tabla1 {
            width: auto; /* Ajusta la tabla al contenido */
            border-collapse: collapse;
        }

        .tabla1 th,
        .tabla1 td {
            border: 1px solid #ddd;
            padding: 2px;
            line-height: 1.2; /* Ajuste de la altura de línea (disminuir el valor para menos interlineado) */
        }

        .tabla1 th {
            background-color: #f2f2f2;
        }

        td,
        th {
            text-align: justify;
        }
        h6 {
            text-align: center;
        }
        .center-top {
            display: flex;
            flex-direction: column;
            align-items: center; /* Centra horizontalmente */
            justify-content: flex-start; /* Alinea en la parte superior */
            height: 100%; /* Asegura que el contenedor ocupe todo el espacio disponible */
            text-align: center; /* Centra el texto dentro del h6 */
        }




    </style>
</head>

<body>
<div>
    <img src="{{ icon }}" width="150" height="75" alt="Icono">
</div>

<div class="tabla-container">
    <!-- Tabla 1 -->
    <div>
        <h3>Datos cotización</h3>
        <table class="tabla1">
            <tr>
                <th class="table-light">Proyecto</th>
                <td>{{proyectos.condominio}}</td>
                <th class="table-light">Cotización</th>
                <td>{{n_cotizacion}}</td>
            </tr>
            <tr>
                <th class="table-light">Etapa y Torre</th>
                <td>{{proyectos.etapa}} - {{proyectos.torre}}</td>
                <th class="table-light">Fecha</th>
                <td>{{fecha_coti }}</td>
            </tr>
            <tr>
                <th class="table-light">Dirección</th>
                <td>{{proyectos.direccion}}</td>
                <th class="table-light">Valor U.F $</th>
                <td>35.650,50</td>
            </tr>
        </table>
    </div>

    <!-- Tabla 2 -->
    <div>
        <hr class="my-0">
        <h3>Datos del Cliente</h3>
        {% for dato in clientes %}
        <table class="tabla1">
            <tr>
                <th class="table-light">Nombre</th>
                <td>{{ dato.nombre_cliente }} {{ dato.nombre2_cliente }} {{ dato.apellido_paterno_cliente }} {{
                    dato.apellido_materno_cliente }}
                </td>
                <th class="table-light">Rut</th>
                <td>{{ dato.id_cliente }}</td>

            </tr>
            <tr>
                <th class="table-light">Dirección</th>
                <td>{{ dato.direccion_cliente }}</td>
                <th class="table-light">E-mail</th>
                <td>{{ dato.correo_cliente}}</td>
            </tr>
            <tr>
                <th class="table-light">Comuna</th>
                <td>{{ dato.region}}</td>
                <th class="table-light">Fono</th>
                <td>{{ dato.fono_cliente}}</td>
            </tr>
        </table>
        {% endfor %}
    </div>

    <!-- Tabla 3 -->
    <div>
        <hr class="my-0">
        <h3>Datos del Bien</h3>
        <table class="tabla1">
            <thead>
            <tr>
                <th class="table-light">Unidad</th>
                <th class="table-light">N°</th>
                <th class="table-light">Tipo</th>
                <th class="table-light">Piso</th>
                <th class="table-light">Orientación</th>
                <th class="table-light">Sup. Útil</th>
                <th class="table-light">Sup. Terraza</th>
                <th class="table-light">Sup. Total</th>
                <th class="table-light">Precio. UF</th>
                <th class="table-light">Precio. $CLP</th>
            </tr>
            </thead>
            <tbody>
            {% for dato in viviendas %}
            <tr>
                <td>Departamento</td>
                <td>{{dato.nombre_vivienda}}</td>
                <td>{{dato.id_modelo.nombre_modelo}}</td>
                <td>{{dato.piso}}</td>
                <td>{{dato.ori_vivienda}}</td>
                <td>{{dato.metros_vivienda}}</td>
                <td>{{dato.metros_terraza_vivienda}}</td>
                <td>{{dato.metros_total_vivienda}}</td>
                <td>{{dato.valor_vivienda}}</td>
                <td>{{dato.valor_vivienda}}</td>
            </tr>
            {% endfor %}
            {% for dato in bodegas %}
            <tr>
                <td>Bodega</td>
                <td>{{dato.nombre_bodega}}</td>
                <td>Bodega</td>
                <td>-1</td>
                <td>X</td>
                <td>2.41</td>
                <td>0</td>
                <td>2.41</td>
                <td>{{dato.valor_bodega}}</td>
                <td>{{dato.valor_bodega}}</td>
            </tr>
            {% endfor %}
            {% for dato in estacionamientos %}
            <tr>
                <td>Estacionamiento</td>
                <td>{{dato.nombre_estacionamiento}}</td>
                <td>Est</td>
                <td>0</td>
                <td>X</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>{{dato.valor_estacionamiento}}</td>
                <td>{{dato.valor_estacionamiento}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Tabla 4 -->
    <div>
        <hr class="my-0">
        <table class="tabla1">
            <tbody>
            <tr>
                <th class="table-light">Total Precio Lista</th>
                <td>3.175,00 UF</td>
                <td>$90.850.960.-</td>
            </tr>
            <tr>
                <th class="table-light">Descuento</th>
                <td>100 UF</td>
                <td>$350.000.-</td>
            </tr>
            <tr>
                <th class="table-light">Total Precio Venta</th>
                <td>3.075 UF</td>
                <td>$90.550.960.-</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Tabla 5 -->

    <div>
        <hr class="my-0">
        <h6>Forma de Pago</h6>
        <table class="tabla1">
            <thead>
            <tr>
                <th class="table-light">Concepto</th>
                <th class="table-light">%</th>
                <th class="table-light">Valor UF</th>
                <th class="table-light">Valor $</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Reserva</td>
                <td>0.35%</td>
                <td>10</td>
                <td>350.000</td>
            </tr>
            <tr>
                <td>Pie Contado</td>
                <td>19.65%</td>
                <td>554,20</td>
                <td>19.560.112</td>
            </tr>
            <tr>
                <td>Credito Hip.</td>
                <td>80 %</td>
                <td>2.556</td>
                <td>80.500.850</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>100%</td>
                <td>2.850</td>
                <td>90.580.850</td>
            </tr>
            </tbody>
        </table>
    </div>


    <!-- Tabla 6 -->


    <div>
        <hr class="my-0">

        <h6>Simulación de Crédito Hipotecario</h6>
        <table class="tabla1">
            <thead>
            <tr>
                <th class="table-light">Plazo (años)</th>
                <th class="table-light">Tasa Anual</th>
                <th class="table-light">Div. UF</th>
                <th class="table-light">Div. CLP $</th>
                <th class="table-light">Renta $</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>15</td>
                <td>4.00</td>
                <td>16.69</td>
                <td>589.100</td>
                <td>2.350.500</td>
            </tr>
            <tr>
                <td>20</td>
                <td>4.00</td>
                <td>16.69</td>
                <td>589.100</td>
                <td>1.930.500</td>
            </tr>
            <tr>
                <td>25</td>
                <td>4.00</td>
                <td>16.69</td>
                <td>589.100</td>
                <td>1.650.500</td>
            </tr>
            <tr>
                <td>30</td>
                <td>4.00</td>
                <td>16.69</td>
                <td>589.100</td>
                <td>1.350.500</td>
            </tr>
            </tbody>
        </table>
    </div>


    <!-- Tabla 7 -->
    <hr class="my-0">
    <div>
        <table class="tabla1">
            <tbody>
            <td>
                <div>
                    <h6>Datos de Atención</h6>
                    <div>
                        <table class="tabla1">
                            <tr>
                                <th class="table-light">Atendido por:</th>
                                <td>Kriss Aguirre Zambra</td>
                            </tr>
                            <tr>
                                <th class="table-light">Fono:</th>
                                <td>+56958709218</td>
                            </tr>
                            <tr>
                                <th class="table-light">E-mail</th>
                                <td>kaguirre@icpacifico.cl</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
            <!-- Tabla 6 -->
            <td>
                <div class="center-top">
                    <h6>Notas y Comentarios</h6>
                    <div>
                        <div>
                            <table class="tabla1">
                            </table>
                        </div>
                    </div>
                </div>
            </td>
            </tbody>
        </table>
    </div>

</div>
<h6>Condiciones de la Cotización</h6>
<p>Validez de la cotización 5 días corridos a contar de esta fecha y no constituye reserva de compra.
    <br> El valor cancelado por concepto Reserva, será abonado a Pie.
    <br>Serán de cargo exclusivo del comprador, los gastos operacionales que genere la compraventa definitiva:Tasación;
    Estudio de Títulos; Confección de Escritura, Impuestos, Notaría y Conservador de Bienes Raíces La tasa de
    interés es sólo referencial. <br>Las instituciones financieras cursan los créditos con las tasas vigentes a la fecha
    de escrituración</p>


<div style="margin-top: 20px; text-align: center;">
    <p style="font-style: italic; font-size: 14px;">
        Gracias por su preferencia. Para consultas, contáctenos a <a href="mailto:amoya@icpacifico.cl">amoya@icpacifico.cl</a>
    </p>
</div>
</body>

</html>
