{% extends "pages/base.html" %}

{% load static %}

{% block contenido %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row invoice-preview">
        <!-- Invoice -->
        <div class="col-xl-9 col-md-8 col-12 mb-md-0 mb-4">
            <div class="card invoice-preview-card">
                <div class="card-body">
                    <div class="d-flex justify-content-between flex-xl-row flex-md-column flex-sm-row flex-column">
                        <div class="mb-xl-0 pb-3">
                            <div class="d-flex svg-illustration align-items-center gap-2 mb-4">
                                <span class="h4 mb-0 app-brand-text fw-semibold">INMOBILIARIA COSTANERA PACIFICO <br> Condominio Distrito Verde ETAPA XX</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-0">
                <div class="card-body">
                    <div class="d-flex justify-content-between flex-wrap">
                        <div>
                            <div>
                                <div>
                                    <br>
                                </div>

                                <div>
                                    <!-- Encabezado carta -->
                                    <p>Lugar y fecha de la carta</p>
                                    <p>Estimado(a):</p>
                                    {% for venta in datos_venta %}
                                    <p>{{ venta.id_cotizacion.id_cliente.nombre_cliente }}
                                        {{venta.id_cotizacion.id_cliente.apellido_paterno_cliente }}</p>
                                    {% endfor%}

                                    <p>Presente</p>
                                    <!-- Fin Encabezado carta -->

                                    <p>Junto con saludar, Inmobiliaria Costanera Pacífico, tiene el agrado de hacerle
                                        llegar Promesa y
                                        Seguro de venta en verde de Compra Venta de departamento reservado en
                                        Condominio:
                                        {% for venta in datos_venta %}
                                        {{ venta.id_cotizacion.id_vivienda.id_modelo.id_condominio }}
                                        {% endfor%}– La Serena, debidamente protocolizada ante Notario Sra. Elena Leyton
                                        Carvajal.</p>
                                    <p>Agradeciendo su elección y atenta a sus consultas,</p>

                                    <hr>


                                    <p>Atte.,</p>
                                    <p>Marta Olivares Castro.</p>
                                    <p>Subgerente de Ventas y OO.PP.</p>
                                </div>
                            </div>
                        </div>


                        <hr class="my-0">
                    </div>
                    <div style="margin-top: 20px; text-align: center;">
                        <p style="font-style: italic; font-size: 14px;">
                            Gracias por su preferencia. Para consultas, contáctenos a <a
                                href="mailto:amoya@icpacifico.cl">amoya@icpacifico.cl</a>
                        </p>
                    </div>
                </div>


                <hr class="my-0">

                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <span class="fw-medium">Note:</span>
                            <span>It was a pleasure working with you and your team. We hope you will keep us in mind for future freelance
              projects. Thank You!</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Invoice -->

        <!-- Invoice Actions -->
        <div class="col-xl-3 col-md-4 col-12 invoice-actions">
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-primary d-grid w-100 mb-3 waves-effect waves-light"
                            data-bs-toggle="offcanvas" data-bs-target="#sendInvoiceOffcanvas">
                        <span class="d-flex align-items-center justify-content-center text-nowrap"><i
                                class="mdi mdi-send-outline scaleX-n1-rtl me-2"></i>ENVIAR DOCUMENTO</span>
                    </button>
                   <a class="btn btn-info d-grid w-100 mb-3 waves-effect waves-light" target="_blank"
                       href="{% url 'ventas:desp_promesa_print' id_venta=id_venta %}">
                        DESCARGAR PDF
                    </a>
                </div>
            </div>
        </div>
        <!-- /Invoice Actions -->
    </div>

    <!-- Offcanvas -->
    <!-- Send Invoice Sidebar -->
    <div class="offcanvas offcanvas-end" id="sendInvoiceOffcanvas" aria-hidden="true">
        <div class="offcanvas-header mb-3">
            <h5 class="offcanvas-title">Send Invoice</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body flex-grow-1">
            <form>
                <div class="form-floating form-floating-outline mb-4">
                    <input type="text" class="form-control" id="invoice-from" value="shelbyComapny@email.com"
                           placeholder="company@email.com">
                    <label for="invoice-from">From</label>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <input type="text" class="form-control" id="invoice-to" value="qConsolidated@email.com"
                           placeholder="company@email.com">
                    <label for="invoice-to">To</label>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <input type="text" class="form-control" id="invoice-subject"
                           value="Invoice of purchased Admin Templates" placeholder="Invoice regarding goods">
                    <label for="invoice-subject">Subject</label>
                </div>
                <div class="form-floating form-floating-outline mb-4">
        <textarea class="form-control" name="invoice-message" id="invoice-message" style="height: 190px;">Dear Queen Consolidated,
          Thank you for your business, always a pleasure to work with you!
          We have generated a new invoice in the amount of $95.59
          We would appreciate payment of this invoice by 05/11/2021</textarea>
                    <label for="invoice-message">Message</label>
                </div>
                <div class="mb-4">
        <span class="badge bg-label-primary rounded-pill">
          <i class="mdi mdi-link-variant mdi-14px me-1"></i>
          <span class="align-middle">Invoice Attached</span>
        </span>
                </div>
                <div class="mb-3 d-flex flex-wrap">
                    <button type="button" class="btn btn-primary me-3 waves-effect waves-light"
                            data-bs-dismiss="offcanvas">Send
                    </button>
                    <button type="button" class="btn btn-outline-secondary waves-effect" data-bs-dismiss="offcanvas">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- /Send Invoice Sidebar -->
    <!-- /Offcanvas -->
</div>
{% endblock contenido %}